<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Hello</title>
    <script>
      $( function() {
        $( "#accordion" ).accordion();
      } );
    </script>
</head>

<body>
    <div style="align-content: center;">
        <br><br><br>
        <h1>Welcome To My Profile Page</h1>
        <br><br>
        
    <div class="container">
      <div id="accordion">
        <div class="card" id="acc1">
          <div class="card-header" style="display: table;">
            <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: #BBCEDA; display: table-cell; vertical-align: middle;">
              Current Activities
            </a>
            <div class="btn-group">
              <button class="button" id="up1" onclick="up(acc1)">↑</button>
              <button class="button" id="down1" onclick="down(acc1)">↓</button>
            </div>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>Stay at home</p></li>
                <li><p>Treasurer at home</p></li>
                <li><p>Tech maintenance</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card" id="acc2">
          <div class="card-header" style="display: table;">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: #BBCEDA; display: table-cell; vertical-align: middle;">
            Organizational Experience
            </a>
            <div class="btn-group">
              <button class="button" id="up2" onclick="up(acc2)">↑</button>
              <button class="button" id="down2" onclick="down(acc2)">↓</button>
            </div>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>Student council in high school</p></li>
                <li><p>Member of MUN</p></li>
                <li><p>Futsal team captain</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card" id="acc3">
          <div class="card-header" style="display: table;">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" style="color: #BBCEDA; display: table-cell; vertical-align: middle;">
              Committee Experience
            </a>
            <div class="btn-group">
              <button class="button" id="up3" onclick="up(acc3)">↑</button>
              <button class="button" id="down3" onclick="down(acc3)">↓</button>
            </div>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>UI Compfest 2018 Documentation</p></li>
                <li><p>UI Interweek 2018 futsal committee</p></li>
                <li><p>School cup committee 2015 & 2016</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card" id="acc4">
          <div class="card-header" style="display: table;">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour" style="color: #BBCEDA; display: table-cell; vertical-align: middle;">
              Achievements
            </a>
            <div class="btn-group">
              <button class="button" id="up4" onclick="up(acc4)">↑</button>
              <button class="button" id="down4" onclick="down(acc4)">↓</button>
            </div>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li><p>IGCSE Star Awards</p></li>
                <li><p>Rank 4 Secondary 4 2016 badge</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      //move accordion up
      function up(id) {
        var card = $(id);
        card.prev().insertAfter(card)
      }

      //move accordion down
      function down(id) {
        var card = $(id);
        card.next().insertBefore(card)
      }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>