html, body{
    width:100%;
    height:100%;
    background-color: #BBCEDA;
}

.title{
    text-align: center;
    font-size: 100px;
}

h1{
    text-align: center;
    font-size: 60px;
    color: #1A3852;
}

.btn-group {
    float: right;
}

.btn-group .button {
    background-color: #1A3852;
    border: 1px solid #BBCEDA;
    border-radius: 0.10rem;
    color: #BBCEDA;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:not(:last-child) {
    border-right: none;
}

.btn-group .button:hover {
    color: #1A3852;
    background-color: #BBCEDA;
}

.submit{
    background-color:  #1A3852;
    color:white;
    border-radius : 20px;
    margin: auto;
}

.card {
    border: 1px solid #1A3852 !important;
}

.card-header {
    background-color: #1A3852 !important;
}

.card-body {
    color: #1A3852 !important;
    background-color: #BBCEDA !important;
}
